.main-title {
    text-align: center;
}
.post-title {
    font-size: 36px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post {
    padding-left:20px;
}
.post-body img,audio {
  display: block;
  margin:0 auto;
}
.post-subtitle {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.blog-body {
    border-left: 1px solid #ccc;
}

.post-meta {
  color: gray;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  font-family: Lora, 'Times New Roman', serif;
}

.success {
  color: black;
  background-color: #98FB98;
  border-radius: 5px;
  width: 100px;
}
#likes{
  float: right;
  padding-right: 20px;
}

.music_text{
  color:#4F94CD;
  text-align: left;

}
.music_botton{
  color: blue;
  font-style: italic;
  margin-top: 0;
  font-family: Lora, 'Times New Roman', serif;
}